<!-- %@ taglib uri="http://www.springframework.org/tags/form" prefix="sf" %-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">

		<title>Patient Home</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link th:href="@{/css/patient_home.css}" rel="stylesheet">
		<style>
		@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
			body{background-color: #f7fffa; font-family: 'Jost', sans-serif;}
			.topnavi a {
  				float: left;
  				color: black;
  				text-align: center;
  				padding: 14px 16px;
  				text-decoration: none;
  				font-size: 17px;
				}

			.topnavi a:hover {
 				background-color: #ddd;
  				color: black;
				}

			.topnavi a.active {
  				background-color: darkcyan;
  				color: ghostwhite;
				}
			#sampleForm{
				background-color:darkcyan;
				color:white;
				border:none;
				width:20%;
				text-align:center;
				height:45px;
			}	
			input[type=text]{
			border: none;
			background-color: #ddd;
			padding: 8px;
			}
			option{
			background-color:white;
			}
				 
		</style>
	</head>
	<body>
	<div style=" height: 40px;"></div>
	<div style="background-color: black;">
		<div class="topnavi" style="margin-left:50px;">
  			<a class="active" th:href="@{/profile/__${pat.userName}__}">Profile</a>
  			<a href="/about">About</a>
  			<a href="/" style="margin-left:1000px;" >Logout</a>
		</div>
		
	</div>
	<br>
	<br>
	<div align=center>
		<br>
		<br>
		<br>
		<div style="border:3px solid darkcyan; width:80%; border-radius:10px;">
		<p align="center">
			<b>Welcome  </b><span th:text="${pat.fName}"></span>  <span th:text="${pat.lName}"></span>  ...<br>
			<br>
			
			<b>User Name:</b><span th:text="${pat.userName}"></span> <br><br>
			
			<b>Email_Id:</b><span th:text="${pat.emailId}"></span> <br><br>
			
			<b>Contact Number:</b><span th:text=" ${pat.contactNo}"></span><br>
			
			</p>
		</div>
		<br>
		
	  </div>

	  <div align=center>
		<form id="searchform">
			<h2><b>Search Doctors?</b></h2>

			<label for="type"><b>Enter the type of Doctor</b></label><br>
			<input type="text" id="type" name="type"><br><br>
			<!-- A drop down list of Cardiologist, Dentist, Physician,Gynecologist, Pediatrician,Psychiatrist,Veterinarian etc   -->
			
			<!-- -----------------DROPDOWN(for further use)--------------------------------------------------------- -->
			
			<!--  <select name="type" id="type" style="width:185px;border:none;background-color: #ddd; padding:8px;">
			<option value="Neurologist">Neurologist</option>
			<option value="Cardiologist">Cardiologist</option>
			<option value="Dentist">Dentist</option>
			<option value="Physician">Physician</option>
			<option value="Gynecologist">Gynecologist</option>
			<option value="Pediatrician">Pediatrician</option>
			<option value="Psychiatrist">Psychiatrist</option>
			
			</select>
			<br>
			<br>
			-->
			<!-- -------------------------------------------------------------------------- -->
			
			
			<label for="state"><b>Enter Your State</b></label><br>
			<input type="text" id="state" name="state"><br><br>
			

			<label for="city"><b>Enter Your City</b></label><br>

			<input type="text" id="city" name="city"><br><br>
			
			<button id="sampleForm" type="submit">SEARCH DOCTOR</button>
		<!-- This will be handled by "user_search_results" in Doctor Controller-->
		</form>
		<br>
		<br>
	 </div>

		<div id="searchResultList">
			
		</div>
		
		<script type="text/javascript">
		$(document).ready(function() {
		    $("#searchform").submit(
		        function(event) {
		        	event.preventDefault();
		        	var d = { type : $('#type').val(), state : $('#state').val(), city : $('#city').val() };
		            
		         $.ajax({
		        	 	type : "POST",
						url : "search",
						data : d,
						success : function(data) {
							var result = "";
							$("#searchResultList").html('');
		                    $.each(data, function (id, doctor) {
		                        result += '<div style="width:1010px;font-size:16px; margin:auto;background-color: background-color: #ddd;"><form id=\"doctor\" action=\"/doctor/'+ doctor.userName + '\" method=\"get\">'+
		                        '<div style="float:left; width:20%;height:132px; background-color: #ddd;"><img src="images/doctor.png" style="width:120px; height:150px;padding-left:25px;"/></div><div style="float:left; width:40%; height:122px; padding-top:10px;background-color: #ddd;"><b>Doctor     : </b>' + doctor.fName + ' ' + doctor.lName + '<br/>' +
			                    	'<b>Speciality : </b>' + doctor.speciality + '<br/>' +
			                    	'<b>Contact    : </b>' + doctor.contactNo + '<br/>' +
		                        	'<b>State      : </b>' + doctor.state + '<br/>' +
		                            '<b>City      : </b>' + doctor.city + '<br/> </div>'+
		                            '<div style="float:right; width:40%; height:132px; text-align:center;background-color: #ddd;"><button type="submit" style="background-color:darkcyan;font-size:16px;color:white; border:none; height:35px; padding:10px;margin-top:25px;">CHECKOUT DOCTOR</button> <br/>'+
		                            '</form><br><br><br/></div><br><br></div><br><br><br><br><br><hr style="width:1010px; "><br>';

		                    });

							$("#searchResultList").html(result);
							
		                },
		                error : function(xhr, status, error) {
		                	alert("alerting");
		                    alert(xhr.responseText);
		                }
		            });
		        });
		    });
		</script>
	</body>
</html>
